<% provide(:title, 'Home') %>

<% provide(:jumbotron, '
      <h1>Hello, world!</h1>
      <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
  '.html_safe)%>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Java</h2>
        <p>Introdution to Java Programming Language using an object oriented programming approach. </p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>

      <div class="col-md-4">
        <h2>Perl - Python - PHP</h2>
        <p>A review of main points of these three languages. Analysing their similar functionalities and tools commonly used to solve similar problems.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
     </div>

      <div class="col-md-4">
        <h2>HTML 5</h2>
        <p>Revelant concepts of HTML5 using CSS, Document Object Model (DOM), and JavaScript to create Dynamic HTML pages.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div> 
    <!-- row -->

    <!-- row -->

    <!-- Portfolio Section -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Portfolio Heading</h2>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="https://www.mpletcher.com/media/portfolio_700x450.png" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="https://www.mpletcher.com/media/portfolio_700x450.png" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="https://www.mpletcher.com/media/portfolio_700x450.png" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="https://www.mpletcher.com/media/portfolio_700x450.png" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="https://www.mpletcher.com/media/portfolio_700x450.png" alt="">
            </a>
        </div>
        <div class="col-md-4 col-sm-6">
            <a href="portfolio-item.html">
                <img class="img-responsive img-portfolio img-hover" src="https://www.mpletcher.com/media/portfolio_700x450.png" alt="">
            </a>
        </div>
    </div>

    <!-- row -->

  </div>   <!-- container -->