<h1>
        <%= @post.title %>
        <% if @post.user == current_user %>
            <small><%= link_to 'edit', edit_post_path(@post) %></small>
        <% end %>
</h1>
<p><small><strong>By: </strong><%= @post.user.email %></small></p>
<p><%= @post.body %></p>